/**
 * Basic typography style -- Semantic and elements styles
 * Classes will be located in other partials
 */
@import "../abstracts/variables";

body {
  font-family: $body-font-stack;
  background-color: var(--neutral-transparent-white);
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.6;
}

a {
  text-decoration: none;
}
